<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.financial.home.work.oilGold.mapper.OilGoldMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.financial.home.work.oilGold.entity.OilGold">
        <id column="id" property="id" />
        <result column="price_name" property="priceName" />
        <result column="date" property="date" />
        <result column="open" property="open" />
        <result column="close" property="close" />
        <result column="high" property="high" />
        <result column="low" property="low" />
        <result column="volume" property="volume" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, price_name, date, open, close, high, low, volume, created_at, updated_at
    </sql>

</mapper>
